@using Microsoft.AspNetCore.Http;
@model SelectedRoomViewModel
@{
	ViewData["Title"] = "Lobby";
}
<div class="d-flex justify-content-center">
	<h1>Lobby</h1>
	<br /> <br />
</div>
<script type="text/javascript">
          var playerNickname = '@Context.Session.GetString("playerNickname")';
</script>
<div id="testt">

</div>

@{
	if (Context.Session.GetString("playerNickname") is null)
	{
		<h2> Go to <a asp-controller="Home" asp-action="Index">startpage</a> and set your nickname</h2>

	}

	else
	{
		<div class="container">

			<div class="row">
				<form asp-action="Index">
					<input id="roomIdInput" asp-for="RoomId" type="hidden"/>
				</form>
				<div id="room" class="col-md-6">
					<select id="roomSelect" class="col-md 6" name="rooms" size="10">
					</select>
				</div>

				<div id="chat" class="col-md-6">

					<div class="row">
						<div class="col-12">
							<div class="chat-box-tray">
								<input id="messageInput" type="text" placeholder=" Type your message here...">
								<div class=""></div>
								<button id="sendButton" class="offset-1 material-icons" type="button">send</button>
							</div>
						</div>
					</div>
					<div class="chat-panel">

					</div>

				</div>

			</div>
			<br />
			<div class="row">
				<div class="col-md-6">
					<button id="createRoom-btn" data-modal-target="#create-room">Create room</button>
					<button id="joinRoom-btn" formaction="Index">Join room</button>
				</div>

			</div>

			<br />
		</div>

		<div class="create-room" id="create-room">
			<div class="create-room-header">
				<div class="title"> Create room</div>
				<button data-close-button class="close-button">&times;</button>
			</div>

			<div class="create-room-body">
				<br />
				<div class="row">
					<div class="offset-1 col-4 text-right">
						room name:
					</div>
					<input id="roomName" type="text" class="col-6" />
				</div>
				<br />
				<div class="row">
					<div class="offset-1 col-4 text-right">
						max players(3-30):
					</div>
					<input id="maxPlayers" type="number" class="col-6" min="3" max="30" step="1" />
				</div>
				<br />
				<div class="row">
					<div class="offset-9 col-2">
						<button type="button" data-create-button class="btn btn-dark">Create</button>
					</div>
				</div>

			</div>
		</div>
		<div id="overlay">

		</div>



		@section Scripts
		{
			<script src="~/js/signalr/dist/browser/signalr.js"></script>
			<script type="text/javascript" src="~/js/chat.js"></script>
			<script type="text/javascript" src="~/js/lobby.js"></script>
			<script type="text/javascript" src="~/js/popup-window.js"></script>
		}

	}
}

