@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Lobby";
}
<div class="d-flex justify-content-center">
	<h1>Lobby</h1>
	<br /> <br />
</div>
<script type="text/javascript">
          var playerNickname = '@Context.Session.GetString("playerNickname")';
</script>
<div id="testt">

</div>

@{
	if (Context.Session.GetString("playerNickname") is null)
	{
		<h2> Go to <a asp-controller="Home" asp-action="Index">startpage</a> and set your nickname</h2>

	}

	else
	{
		<div class="container">

			<div class="row">
				<div class="col-md 6">
					<select id="roomSelect" class="col-md 6 form-control" name="rooms" size="10">
					</select>
				</div>
				<div id="chat" class="col-md 6">

					<div class="row">
						<div class="col-12">
							<div class="chat-box-tray">
								<input id="messageInput" type="text" placeholder=" Type your message here...">
								<div class=""></div>
								<button id="sendButton" class="offset-1 material-icons" type="button">send</button>
							</div>
						</div>
					</div>
					<div class="chat-panel">

					</div>

				</div>

			</div>
			<br />
		</div>

		<script src="~/js/signalr/dist/browser/signalr.js"></script>
		<script src="~/js/gameLobby.js"></script>
	}
}

