
@{
	ViewData["Title"] = "Lobby";
}

<h1 class="justify-content-center">Lobby</h1>

Hello
@{
	if (TempData["playerNickname"] is null)
	{
		<h2> Go to <a asp-controller="Home" asp-action="Index">startpage</a> and set your nickname</h2>

	}

	else
	{
		<div class="container">

			<div class="row">
				<div class="col-md 6">
					<select class="col-md 6" name="rooms" size="50">
					</select>
				</div>
				<div class="col-md 6">

				</div>

			</div>


			<input type="hidden" value="@TempData["playerNickname"]" id="playerNickname" />

			<div class="row">
				<div class="col-2">Message</div>
				<div class="col-4"><input type="text" id="messageInput" /></div>
			</div>

			<input type="button" id="sendButton" value="Send Message" />

			<div class="row">
				<div class="col-6">
					<ul id="messagesList"></ul>
				</div>
			</div>
		</div>

		<script src="~/js/signalr/dist/browser/signalr.js"></script>
		<script src="~/js/gameLobby.js"></script>
	}
}

