
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

	<div id="chat" class="col-md-6">
		<div class="row">
			<div class="col-12">
				<div class="chat-box-tray">
					<input id="messageInput" type="text" placeholder=" Type your message here...">
					<div class=""></div>
					<button id="sendButton" class="offset-1 material-icons" type="button">send</button>
				</div>
			</div>
		</div>
		<div class="chat-panel overflow-auto">
		</div>
	</div>