@using PirateGame_MVC.Models;
@model Player
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">ahoy!</h1>
	<h4> Enter your name and become a pirate!</h4>
	<br /><br />
	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	<form class="form-group" asp-action="Index">
		<div class="row">
			<div class="offset-md-4 col-md-4">
				<input type="text" asp-for="Nickname" class="form-control" placeholder="Nickname" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="offset-md-4 col-md-4">
				<button id="sendButton" type="submit" class="btn btn-dark text-light">Submit</button>
			</div>
		</div>
	</form>

</div>

@section Scripts{ 
	<script src="~/js/signalr/dist/browser/signalr.js"></script>

}
@*<script src="~/js/startup.js"></script>*@
