@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ahoy!</h1>
	<h4> Enter your name and become a pirate!</h4>
	<br /><br />
	<form class="form-group">
		<div class="row">
			<div class="offset-4 col-md-4">
				<input type="text" class="form-control" placeholder="Nickname" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="offset-4 col-md-4">
				<button type="submit" class="btn btn-dark text-light">Submit</button>
			</div>
		</div>
	</form>
</div>
